spring:
  main:
    lazy-initialization: true
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 5
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        "[format_sql]": true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  config:
    import: optional:file:.env[.properties]
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080
  tomcat:
    threads: 
      max: 50
    accept-count: 25

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000 # 1 hour

frontend:
  origin: ${FRONTEND_ORIGIN}

