spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  data:
    redis:
      url: ${REDIS_URL}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  config:
    import: optional:file:.env[.properties]

server:
  port: 8081

minio:
  url: ${MINIO_PUBLIC_URL}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket: ${MINIO_BUCKET}
  region: ${MINIO_REGION}
  publicBaseUrl: ${PUBLIC_FILE_BASE_URL}
