name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH client
        run: sudo apt-get install -y sshpass

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |

            cd /home/ubuntu/cloudnest       # Navigate to project directory

            # Pull the latest code
            git reset --hard
            git pull origin main

            # Build Docker images
            docker-compose build

            # Deploy new containers, removing old ones.
            docker-compose up -d --build --remove-orphans

            # Remove dangling images
            docker image prune -f

            echo "Deployment completed successfully."
